*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, h1{
    display: inline-block;
    padding: 10px;
}

h1{
    text-align: center;
}

main{
    background-color: rgb(220, 226, 226);
    height: 100vh;
}

.container{
    width: 1000px;
    margin: auto;
    padding: 40px;
}

.section-head{
    padding: 10px 50px;
    border: 1px solid white;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.badge-task{
    display: inline-block;
    padding: 5px;
    background-color: rgb(77, 174, 238);
    border: 1px solid black;
    border-radius: 5px;
    color:white;
}

.badge-section{
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    color:grey;
}

.section{
    background-color: white;
    padding: 10px 50px;
    border: 1px solid white;
    border-radius: 0 0 10px 10px;
    margin-top: 2px;
}

.text{
    display: inline-block;   
    margin-left: 5px;
}

.text-title{
    display: inline-block;
}

/* Elementi da mettere in display-inline block */
.text, .check, .error, .editorial, .q1, .recruiting, .mobile, .website, .sales{
    display: inline-block;
}

/* classe per icona della spunta */
.check{
    color: rgb(85 181 152);
    border: 2px solid rgb(85 181 152);
    background-color: #FFFFFF;
    border-radius:50%;
    padding: 0 3px;
}

/* classe per icona X */
.error{
    color: red;
    border: 2px solid red;
    background-color: #FFFFFF;
    border-radius:50%;
    padding: 0 3px;
}

.editorial{
    background-color: rgb(77, 174, 238);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
}

.category{
    margin-bottom: 5px;
    margin-top: 20px;
}

/* da utilizzare per ogni nuovo elenco */
.stringa{
    margin-top: 10px;
}

.q1{
    background-color: rgb(103, 2, 103);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
}

.recruiting{
    background-color: rgb(85 181 152);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;   
}

.mobile{
    background-color: rgb(237 141 40);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;   
}

.website{
    background-color: rgb(205 73 144);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;   
}

.sales{
    background-color: rgb(162 193 30);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;   
}